.profileBlock {
    width: 90%;
    min-height: 100%;
    background-color: #124485;
    background-image: url("../../Image/abstract-smooth-empty-grey-studio-well-use-as-background-business-report-digital-website-template-backdrop.jpg");
    /*background-position: 0 0;*/
    background-position: 50% 0;
    background-repeat: repeat-y;
    background-size: cover;
    display: flex;
    justify-content: space-around;
}

.profileBlock img {
    margin: 20px;
    width: 308px;
    height: 411px;
    border-radius: 25px;
}

.descriptionBlock {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
    width: 100%;
}
.answerBlock {
    height: 30%;
    font-family: "Old English Text MT", sans-serif;
    padding: 10px;
    /*font-size: small;*/
    color: #2c2b2b;
    display: flex;
    flex-direction: column;
    font-weight: 500;
}

.questionBlock {
    height: 30%;
    display: flex;
    flex-direction: column;
    /*font-family: Dubai, sans-serif;*/
    font-family: "Old English Text MT", sans-serif;
    padding: 10px;
    /*font-size: large;*/
    font-weight: 100;
    color: #3f3e3e;
}

.block {
    width: 70%;
    background-color: #124485;
    display: flex;
}

.question {
    margin: 5px;
    padding: 5px;
    width: 50%;
    background-color: grey;
}

.answer {
    margin: 5px;
    padding: 5px;
    width: 50%;
    background-color: #c99999;
}