.mainBlock {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 150px;
    /*height: 100%;*/
    background-color: bisque;
}

.link {
/*padding: 5px;*/
    margin: 5px;
    color: #124485;


}

.activeLink {
    letter-spacing: 4px;
    color: #8bb7b7;
    /*font-size: larger;*/
    font-size: 1.5rem;
}
.link:hover {
    letter-spacing: 4px;
    color: #78c00e;
}

.mainBlock a {
    text-decoration: none;
}

@media screen and (max-width: 570px){
    .mainBlock {
        /*font-size: 0.8rem;*/
        max-width: 100px;
    }
    .activeLink {
        letter-spacing: 3px;
        font-size: 1rem;
    }
}


@media screen and (max-width: 370px){
    .mainBlock {
        max-width: 80px;
        font-size: 0.8rem;
        letter-spacing: -1px;
    }
    .activeLink {
        letter-spacing: 2px;
        font-size: 0.9rem;
    }
    .link:hover {
        letter-spacing: 2px;
    }
}